.Invest {
  width: 100%;
  background-color: #ffffff;
}

.st0 {
  fill: none;
  stroke: #4d4f51;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4d4f51
}

.st1,
.st4 {
  stroke: #4d4f51;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5
}

.st4,
.st5,
.st6,
.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #c2dcfc
}

.st6,
.st7 {
  fill: #569ef7;
  stroke: #4d4f51;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5
}

.st7 {
  fill: #fff
}